/*! template v0.0.1 */

a {
  text-decoration: none;
}
.confirm_alert {
  width: 280px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  border: solid 1px #efefef;
  margin: -50px 0 0 -140px;
  text-align: center;
  z-index: 10000;
}
.confirm_alert .alert_content {
  padding: 20px;
  border-bottom: solid 1px #efefef;
}
.confirm_alert .alert_buttons {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.confirm_alert a {
  color: #08c;
  float: left;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.confirm_alert a:last-child {
  border-left: solid 1px #efefef;
}
* {
  margin: 0;
  padding: 0;
}
.share-tips {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.share-tips i {
  display: block;
  background: url(//j1.s2.dpfile.com/mod/app-y-share/0.1.0/css/img/share-guide.png);
  background-size: 151px 126px;
  width: 151px;
  height: 126px;
  float: right;
  margin-right: 20px;
}
.share-tips p {
  color: #FF8400;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  padding-top: 132px;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
:not(input,textarea) {
  -webkit-touch-callout: inherit;
  -webkit-user-select: auto;
}
body {
  width: 100%;
  font-family: Hiragino Sans GB, Arial, Helvetica, "瀹嬩綋", sans-serif;
  font-size: 14px;
  color: #878787;
  -webkit-touch-callout: inherit;
  -webkit-user-select: none;
  background-color: #ffffff;
}
a {
  color: #878787;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  padding: 0;
  outline: 0;
}
dt,
dd {
  display: inline-block;
}
textarea,
input {
  resize: none;
  outline: 0;
}
textarea {
  resize: none;
  -webkit-appearance: none;
}
ul,
ol,
li {
  list-style: none;
}
em {
  font-style: normal;
}
.arrow-ent {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}
.arrow-ent.right {
  -webkit-transform: rotate(-45deg);
}
.arrow-ent.bottom {
  -webkit-transform: rotate(-315deg);
  position: relative;
  top: -2px;
}
.arrow-ent.top {
  -webkit-transform: rotate(-135deg);
  position: relative;
  top: 2px;
}
.price {
  color: #ff8400;
}
.o-price strong {
  text-decoration: line-through;
  font-weight: 400;
}
.Hide {
  display: none !important;
}
.Clear {
  float: none !important;
}
.Fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.Hide {
  display: none !important;
}
.Fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
.content,
.list-nav .cat,
.list-nav .selector .main .item,
.list-nav .selector .sub .item,
.link-btn,
.detail-list .item,
.suggest-box,
.container .nav-bar {
  background: url(//j3.s2.dpfile.com/mod/app-activity-template/2.1.5/css/img/repeat-x.png) repeat-x 0 bottom;
  background-size: auto 10px;
}
.promo-box .promo-list tr,
.r-top {
  background: url(//j3.s2.dpfile.com/mod/app-activity-template/2.1.5/css/img/top-repeat-x.png) repeat-x 0 top;
  background-size: auto 10px;
}
.list-nav .selector .main .item.on,
.list-nav .selector .sub .item.on {
  background: url(//j3.s2.dpfile.com/mod/app-activity-template/2.1.5/css/img/o-repeat-x.png) repeat-x 0 bottom;
  background-size: auto 10px;
}
.text.rule .icon {
  background: url(//j3.s2.dpfile.com/mod/app-activity-template/2.1.5/css/img/g.com.png) no-repeat;
  background-size: 30px auto;
}
.col-list a {
  display: block;
}
.container .nav-bar {
  padding: 6px 0 5px 11px;
  font-size: 12px;
  background-color: #F5F5F5;
  position: relative;
}
.container .nav-bar i {
  background-color: #f63;
  height: 14px;
  width: 3px;
  position: absolute;
  left: 0;
  top: 6px;
}
.container .content {
  padding-left: 15px;
}
.container .content.off {
  padding-left: 0;
}
.container .content .line {
  padding-right: 15px;
}
.content {
  background-color: #ffffff;
}
.flex-box {
  display: -webkit-box;
}
.flex-box .info {
  -webkit-box-flex: 1;
}
.r-btn,
.g-btn,
.n-btn {
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}
.r-btn {
  background-color: #ff8400;
}
.n-btn {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  color: #ff8400;
}
.g-btn {
  background-color: #dbdbdb;
  border: 1px solid #ffffff;
}
.link-btn {
  height: 45px;
  line-height: 45px;
  color: #333;
  text-align: center;
  font-size: 16px;
  background-color: #FFF;
  display: block;
}
.r-top {
  display: block;
  text-align: center;
  padding-bottom: 9px;
  color: #666;
  font-size: 14px;
  padding-top: 9px;
}
.r-top .arrow-ent {
  display: block;
  border-width: 1px;
  margin: 0 auto;
}
.tips-box {
  height: 58px;
}
.tips-box.small .cont {
  padding: 10px 40px 10px 15px;
}
.tips-box .cont {
  position: fixed;
  background-color: #fff9f1;
  color: #db5e00;
  font-size: 15px;
  line-height: 18px;
  padding: 25px 15px;
  border-top: 1px solid #fb9322;
  border-bottom: 1px solid #fdc089;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 9999;
}
.tips-box .close {
  font-size: 20px;
  position: absolute;
  top: 28%;
  right: 12px;
  color: #db5e00;
}
.suggest-box {
  background-color: #ffffcb;
  text-align: center;
  padding: 10px 0;
}
.suggest-box h3 {
  font-weight: 400;
  color: #333;
  font-size: 16px;
  margin-bottom: 1px;
}
.suggest-box p {
  color: #999;
  font-size: 12px;
}
.notice-box {
  padding: 15px;
  color: #323232;
}
.notice-box p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 8px;
}
.notice-box p:last-child {
  margin-bottom: 0;
}
.notice-box p a {
  color: #1689ff;
  text-decoration: underline;
}
.op-box {
  display: block;
  font-size: 0;
}
.op-box img {
  width: 100%;
}
.detail-box .info {
  padding-left: 15px;
}
.detail-box img {
  width: 100%;
}
.detail-box .content {
  position: relative;
  font-size: 0;
}
.detail-box .btn-box {
  position: absolute;
  bottom: 1px;
  width: 100%;
}
.detail-box .btn-box .tips {
  padding: 7px 0;
  text-align: center;
  border: 2px solid #ffdd1c;
  color: #ffd053;
  margin: 0 13px;
}
.detail-box .btn-box .tips p {
  line-height: 16px;
  font-size: 12px;
}
.detail-box .btn-box .text {
  font-size: 12px;
  color: #ffdfc3;
  font-size: 14px;
  text-align: center;
}
.detail-box .btn-box .text.rule {
  display: block;
  margin-top: 16px;
  color: #666666;
}
.detail-box .btn-box .text.rule p {
  line-height: 14px;
  margin: 2px 0;
}
.detail-box .btn-box .text.rule .arrow-ent {
  border-width: 1px;
}
.detail-box .btn-box .text.rule .icon {
  background-position: center -11px;
  width: 15px;
  height: 13px;
  display: inline-block;
}
.detail-box .get-btn {
  margin: 0 40px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 17px;
  display: block;
  z-index: 99;
  border-radius: 5px;
  color: #fff;
  box-sizing: border-box;
  background-color: #e00343;
}
.detail-box .get-btn:active {
  background-color: #e5e5e5;
}
.detail-list .item {
  padding: 12px 0;
  margin: 0 11px;
  display: box;
  display: -webkit-box;
  display: -ms-flexbox;
}
.detail-list .item:active {
  background-color: #e5e5e5;
}
.detail-list .item:last-child {
  background-image: none;
}
.detail-list .item .pic {
  margin-right: 11px;
  font-size: 0;
  position: relative;
  height: 83px;
  width: 110px;
}
.detail-list .item .pic img {
  position: absolute;
  height: 90px;
  clip: rect(0 110px 833px 0);
}
.detail-list .item .info {
  -webkit-box-flex: 1;
  box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
}
.detail-list .item .info h3,
.detail-list .item .info h4 {
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 3px;
}
.detail-list .item .info h3 {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}
.detail-list .item .info h4 {
  color: #999999;
}
.detail-list .item .info .buy-box {
  margin-top: 28px;
  position: relative;
}
.detail-list .item .info .buy-box .buy-btn {
  background-color: #f63;
  color: #FFF;
  font-size: 14px;
  padding: 6px 10px;
  float: right;
  border-radius: 2px;
}
.detail-list .item .info .buy-box .buy-btn.f-r {
  float: none;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.detail-list .item .info .buy-box .buy-btn-disable {
  background-color: #bbb;
  color: #FFF;
  font-size: 14px;
  padding: 6px 10px;
  float: right;
  border-radius: 2px;
}
.detail-list .item .info .buy-box .buy-btn-disable.f-r {
  float: none;
  position: absolute;
  bottom: 5px;
  right: 0;
}
.detail-list .item .info .price-box .price {
  color: #fc5500;
  font-size: 16px;
  line-height: 22px;
}
.detail-list .item .info .price-box .price strong {
  font-size: 20px;
  font-weight: 400;
}
.detail-list .item .info .price-box .o-price {
  font-size: 12px;
  color: #999999;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.Fix:after {
  display: block;
  content: '\20';
  height: 0;
  clear: both;
}
ul,
ol,
li {
  list-style: none;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  zoom: 1;
  height: 100%;
  position: fixed;
  visibility: visible;
}
.overlay .pop-box {
  position: fixed;
  z-index: 9999;
  top: 30%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
}
.overlay .pop-box .pop-content {
  background-color: #F8F8F8;
  border-radius: 4px;
}
.overlay .window-confirm {
  font-family: Hiragino Sans GB, Arial, Helvetica, "瀹嬩綋", sans-serif;
  color: #666666;
}
.overlay .window-confirm li {
  text-align: center;
  position: relative;
  background: url(//j1.s2.dpfile.com/mod/app-activity-template/2.1.5/css/img/repeat-bottom.png) repeat-x 0 bottom;
  background-size: auto 1px;
  padding: 14px 10px;
}
.overlay .window-confirm li.last {
  background-image: none;
  border-radius: 0 0 4px 4px;
  padding: 0;
}
.overlay .window-confirm li.last a {
  display: block;
  font-size: 14px;
  text-align: center;
  color: #08c;
  padding: 10px 0;
  float: left;
  width: 49%;
  background: url(//j2.s2.dpfile.com/mod/app-activity-template/2.1.5/css/img/repeat-left.png) repeat-y left 0;
  background-size: 1px auto;
}
.overlay .window-confirm li.last a.cancel {
  background-image: none;
}
.geo {
  float: right;
  font-size: 12px;
  color: #999;
}
.check-more {
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.share-tips {
  position: fixed;
  background: rgba(0, 0, 0, 0.85);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.share-tips i {
  display: block;
  background: url(http://si1.s1.dpfile.com/t/cssnew/events/scare-buying-mobile/css/i/share-guide.23b56d68b5c12067a53c431ef39424c5.png);
  background-size: 151px 126px;
  width: 151px;
  height: 126px;
  float: right;
  margin-right: 20px;
}
.share-tips p {
  color: #FF8400;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  padding-top: 132px;
}
